/* fixed social*/
#fixed-social {
  position: fixed;
  top: 130px;
  right:0px;

}

#fixed-social a {
  color: #fff;
  display: block;
  height: 40px;
  position: relative;
  text-align: center;
   line-height: 40px;
  width: 40px;
  margin-bottom: 1px;
  z-index: 2;
}
#fixed-social a:hover>span{
 visibility: visible;
 right: 41px;
 opacity: 1;
} 
#fixed-social a span {
 line-height: 40px;
   right: 60px;
   position: absolute;
   text-align: center;
   width: 120px;
   visibility: hidden;
   transition-duration: 0.5s;
   z-index: 1;
   opacity: 0;
}
.fixed-facebook{
  background-color: #657fd5;
}
.fixed-facebook span{
 background-color: #3974c0;
}
.fixed-twitter{
 background-color: #2BA4D9;

}
.fixed-twitter span{
  background-color: #2BA4D9;
}
.fixed-gplus{
 background-color: #00AF54;

}
.fixed-youtube{
  background-color: #FF0000;
}
.fixed-youtube span{
  background-color: #FF0000;
}
.fixed-gplus span{
  background-color: #00AF54;
}
.fixed-linkedin{
 background-color: #FFC41E;

}
.fixed-linkedin span{
  background-color: #FFC41E;
}
.fixed-instagrem{
 background-color: #3f729b;

}
.fixed-instagrem span{
  background-color: #3f729b;
}
.fixed-tumblr{
 background-color: #EB1471;

}
.fixed-tumblr span{
  background-color: #EB1471;
}
/*end fixed social*/

.selectMenu{
  width: 100%;
  height: 200px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.selectMenu select {
    
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    padding: 20px;
  
    margin: 20px;
    border: 2px solid aliceblue !important;
    background: #2c3e50;
    background-image: none;
  }
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }
  /* Custom Select */
  .select {
    position: relative;
    /* display: flex; */
    width:15em;
    height: 3em;
    line-height: 3;
    background: #ffffff;
    overflow: hidden;
    border-radius: .25em;
  }
 .selectMenu select {
    flex: 1 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
  }
  /* Arrow */
 .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #ffffff;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  /* Transition */
  .select:hover::after {
    color: #f39c12;
  }
  .MuiLink-underlineHover:hover{
   background-color: #2c3e50;
   color: #fff;
  }
  #themenu{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 form button {
   text-align: center;
   display: inline;
   box-shadow: 2px -2px skyblue;
 }
  .selectMenuSubmit{
    background: #000000;
    background-image: -webkit-linear-gradient(top, #000000, #ffffff);
    background-image: -moz-linear-gradient(top, #000000, #ffffff);
    background-image: -ms-linear-gradient(top, #000000, #ffffff);
    background-image: -o-linear-gradient(top, #000000, #ffffff);
    background-image: linear-gradient(to bottom, #000000, #ffffff, 0.5);
    -webkit-border-radius: 14;
    -moz-border-radius: 14;
    border-radius: 14px;
    -webkit-box-shadow: 5px 6px 3px #ffffff;
    -moz-box-shadow: 5px 6px 3px #ffffff;
    box-shadow: 5px 6px 3px #ffffff;
    font-family: Arial;
    color: #000000;
    font-size: 12px;
    padding: 11px 23px 11px 24px;
    text-decoration: none;
    /* text-align: center;
    display: inline-block;
    background:    #34495e;
  margin: 0 auto;
  box-shadow: 39px 36px 44px 18px rgba(28,142,143,0.57);
  -webkit-box-shadow: 39px 36px 44px 18px rgba(28,142,143,0.57);
  -moz-box-shadow: 39px 36px 44px 18px rgba(28,142,143,0.57);
    padding:10px 20px; */
    color: #ffffff;
    /* margin:  15px; */
    border-radius: 5px;
    
  }
  .selectMenuSubmit:hover{
    background: #ffffff;
    background-image: -webkit-linear-gradient(top, #ffffff, #000000);
    background-image: -moz-linear-gradient(top, #ffffff, #000000);
    background-image: -ms-linear-gradient(top, #ffffff, #000000);
    background-image: -o-linear-gradient(top, #ffffff, #000000);
    background-image: linear-gradient(to bottom, #ffffff, #000000);
    text-decoration: none;
  }
  .themaile{
    text-align: right;
  }
  @media only screen and (max-width: 600px) {
    /* form{
      margin-top: 250px;
    } */
 .themaile{
   text-align: left !important;
 }
.selectMenu select {
    
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  /* padding: 20px; */

  margin: 2px;
  border: 2px solid aliceblue !important;
  background: #ffffff;
  background-image: none;
}
  }
  .dropdownOpen:hover{
background: #444;
  }
  


  /* loading css */
  .loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #ffffff;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}


